// Quasar SCSS (& Sass) Variables
$primary: #dc1a22; // Red color from Grupo Aries logo
$secondary: #26a69a;
$accent: #9c27b0;

$dark: #1d1d1d;
$dark-page: #121212;

$positive: #21ba45;
$negative: #c10015;
$info: #31ccec;
$warning: #f2c037;
